body{
	width: 100%;
	height: 100%;
}
.outer{
	width: 100%;
	height: 100%;
	max-width: 1366px;
	max-height: 667px;
	overflow: hidden;
	position: relative;
	margin: 0px auto;
	background: #e3e3e3;
	
}
/*首页左部分*/
#moveNav{
	width: 140px;
	height: 200px;
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 100;
}
/*logo*/
header{
	margin: 0px auto;
	height: 40px;
	width: 100%;
	cursor: pointer;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 5;
}
.logo img{
	height: 40px;
	width: 100%;
}
/*地区分类*/
.areas{
	width: 100%;
	position: absolute;
	left: 0px;
	top: 40px;
}
.areas li{
	width: 100%;
	height: 30px;
	cursor: pointer;
	position: absolute;
	left: 0px;
	
}
.areas li p{
	position: absolute;
	top: -30px;
	width: 1px;
	height: 30px;
	z-index: 3;
	background: #3289d8;
}
.areas li a{
	background: #3289d8;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 5;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	text-align: center;
	font: bold 20px/30px "华康龙门石碑W9(p)" !important;
	color: #fff;
	word-spacing: 6px;
	text-shadow: 0px 0px 40px #fff;
}
.areas .active{
	color: #3289d8;
	background: #fff;
}
/*背景图片*/
#areaBg{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: 5;
}
#areaBg li{
	position: absolute;
	bottom: 20px;
	height: 500px;
	width: 250px;
	display: none;
}
#areaBg li:nth-of-type(1){
	left: 30px;
}
#areaBg li:nth-of-type(2){
	right: 30px;
}
#areaBg li img{
	height: 100%;
}
/*内容部分*/
#content{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 0px;
	z-index: 5;
	margin-left: -683px;
	overflow: hidden;
	
}
#content .background{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 6;
	-webkit-filter: blur(20px);
}
#content .background img{
	height: 100%;
	width: 100%;
}
#content .blur{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 7;
	background: transparent;
	opacity: 0.2;
}
.movTime{
	height: 1700px;
	width: 1300px;
	margin: 0px auto;
	background: transparent;
	position: relative;
	z-index: 10;
	transform: translate3d(0px, 0px, 0px);
	transition: 500ms cubic-bezier(1,-0.02, 0.25, 1.07) !important;
}
/*时间轴*/
.timeline{
	height: 100%;
	width: 10px;
	position: absolute;
	left: 50%;
	margin-left: -5px;
	transition: 500ms cubic-bezier(1,-0.02, 0.25, 1.07) !important;
}
.midLine{
	height: 100%;
	width: 100%;
	margin: 0px auto;
}
.midDot{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -5px;
}
.midDot>li{
	height: 160px;
	width: 200px;
	position: absolute;
}
.midDot>li:nth-of-type(even){
	right: 0px;
}
.midDot>li:nth-of-type(odd){
	left: 0px;
}
.midDot li ul{
	height: 100%;
	width: 12px;
	position: absolute;
	top: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.midDot ul li{
	height: 12px;
	width: 12px;
	background: #fff;
	border-radius: 100%;
	background: #3289d8;
}
.midDot li .midDot_con{
	height: 150px;
	width: 300px;
	position: absolute;
	top: 30px;
	color: #fff;
	cursor: pointer;
}
.midDot li:nth-of-type(even) .midDot_con{
	right:800px;
}
.midDot li:nth-of-type(odd) .midDot_con{
	left:800px;
}
.midDot .midDot_con em{
	height: 0px;
	width: 0px;
	opacity: 0;
	transition: 0.3s;
	margin-top: 82px;
}
.midDot .midDot_con .opacity{
	opacity: 1;
}
.midDot li:nth-of-type(even) em{
	border-top: 20px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 56px solid #3289d8;
	float: right;
	margin-right: -56px;
}
.midDot li:nth-of-type(odd) em{
	border-top: 20px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 56px solid #3289d8;;
	float: left;
	margin-left: -56px;
	
}
.midDot .midDot_con div{
	height: 100%;
	width: 100%;
	float: left;
	background: #3289d8;
}
.midDot .midDot_con div:hover{
	animation: scale 1.2s ease-in-out infinite;
}
@-webkit-keyframes scale
{
	0%{
		transform:scale(1);
	}
	50%
	{
		transform:scale(1.2);
	}
	100%
	{
		transform:scale(1);
	}
}
.midDot .midDot_con dl{
	height: 100%;
	width: 166px;
	float: left;
	font: bold 12px/22px "Algerian";
}
.midDot dl dt{
	font: bold 20px/32px "Algerian";
	text-shadow: 0px 0px 10px #ccc;
	padding: 4px 0px;
}
.midDot img{
	height: 100%;
	width: 106px;
	float: left;
}
.midDot li:nth-of-type(even) img{
	float: right;
}
.midDot li:nth-of-type(odd) img{
	float: left;
}
.midDot li:nth-of-type(even) dl{
	padding: 0px 14px;
}
.midDot li:nth-of-type(odd) dl{
	float: left;
	padding: 0px 14px;
}
.midDot li p{
	font: bold 20px/30px "宋体";
	margin-top: 86px;
	opacity: 0;
	color: #3289d8;
}
.midDot li:nth-of-type(even) p{
	float: right;
	margin-right: -250px;
}
.midDot li:nth-of-type(odd) p{
	float: left;
	margin-left: -550px;
	
}
.midDot ul li:nth-of-type(3){
	height: 20px;
	width: 20px;
}
.midDot .colorCha{
	background: #fff;
}
.midDot li:nth-of-type(even) ul{
	right:-1px;
}
.midDot li:nth-of-type(odd) ul{
	left:-1px;
}
/*侧边圆点导航*/
#subNav{
	height: 100%;
	width: 12px;
	position: absolute;
	right: 30px;
	top: 0px;
	z-index: 20;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#subNav li{
	height: 12px;
	width: 12px;
	border-radius: 100%;
	background: #3289d8;
	margin-top: 20px;
	cursor: pointer;
}
#subNav .screenNow{
	background: #fff;
	transition: 500ms;
}
/*电影详情*/
#detail{
	height: 100%;
	width: 100%;
	position: absolute;;
	left: 0px;
	top: 0px;
	background: rgba(50,137,216,0.1);
	z-index: 50;
	display: none;
}
#detail .detail_con{
	height: 500px;
	width: 1000px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -500px;
	margin-top: -250px;
}
.detail_con img{
	height: 100%;
	width: 350px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.detail_con .detail_text{
	height: 100%;
	width: 0px;
	position: absolute;
	left: 350px;
	top: 0px;
	overflow: hidden;
	background: #fff;
	cursor: pointer;
}
.detail_text dl{
	height: 440px;
	width: 500px;
	padding: 30px 50px 30px 100px;
	background: transparent;
	position: absolute;
	left: 0px;
	top: 0px;
	font: 20px/30px "宋体";
	color: #26659f;
	z-index: 60;
}
.detail_con dl dt{
	display: block;
	width: 500px;
	font: bold 30px/40px "宋体";
	cursor: pointer;
}
.detail_con dl dd{
	width: 500px;
	cursor: pointer;
}
.detail_con dl dd:nth-of-type(9){
	text-indent: 2em;
}
/*点击屏幕出现圆圈*/
.detail_text .circle{
	height: 1px;
	width: 1px;
	position: absolute;
	left: 100px;
	top: 100px;
	transform:scale(0.6);
}
.detail_text .circle span{
	height: 120px;
	width: 120px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -60px;
	margin-top: -60px;
	border-radius: 100%;
	background: #1f619d;
}
.detail_text .circle em{
	height: 100px;
	width: 100px;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 100%;
	background: #fff;
	margin-left: -50px;
	margin-top: -50px;
}
/*关闭按钮*/
.detail_con .close{
	height: 30px;
	width: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
	background: transparent;
	cursor: pointer;
	opacity: 0;
	transition: 1s;
	z-index: 60;
}
.detail_con .close span{
	position: absolute;
	left: 0px;
	top: 50%;
	height: 0px;
	width: 30px;
	border-bottom: 4px solid #3289d8;
	margin-top: -2px;
	border-radius: 4px;
}
.detail_con .close em{
	position: absolute;
	top: 0px;
	left: 50%;
	width: 0px;
	height: 30px;
	border-left: 4px solid #3289d8;
	margin-left: -2px;
	border-radius: 4px;
}
.detail_con .close:hover{
	animation: rotate 1s linear infinite;
}
@-webkit-keyframes rotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}















